<a href="https://colab.research.google.com/github/abbadad/3mtt-Week-2-Assignment/blob/main/3mtt_Week_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION**

Develop a Python script that showcases the basics learned, demonstrating your understanding of Python programming.

**VARIABLES**

In [ ]:
# Variables in Python Programming can be likened to containers that store materials and the materials can be likened to data types.

In [ ]:
var = 'hello world!'
print(var)

hello world!

Rules for Writing Variables

In [ ]:
# In writing codes or variables in Python, one must observe and abide by certain rules.
# Errors are inevitable when these rules are broken.
# But one does not need to be discouraged by errors since errors are to programmers like the air we breath.

Rule 1

In [ ]:
 # Variable names can only contain letters, numbers and underscores.
 # For example:

In [ ]:
var_1 = 'hello world!'
print(var_1)

hello world!

Rule 2

In [ ]:
# You are not allowed to have spaces in variable names
# For example:

In [ ]:
var 1 = 'hello world!'
print(var 1)

SyntaxError: invalid syntax (<ipython-input-9-4599001ba5e8>, line 1)

Rule 3

In [ ]:
# Variable names are labels and so should be descriptive
# For example

In [ ]:
first_code = 'hello world!'
print(first_code)

hello world!

Rules 4

In [ ]:
# Do not confuse readers with variable names with letters that are similar to numbers.
# Because for most part as Data Analysts, we read codes more than writing them.
# For example, don't write 1 where you are mearnt to i

Rule 5

In [ ]:
# Avoid using Python reserved names for keywords and functions.
# For example:

In [ ]:
lst = (55, 65)
sum(lst)

120

In [ ]:
# Since SUM is a Python reserved name, you cannot use SUM as a variable
# For example:

In [ ]:
sum = ( 55, 65)
sum(lst)

TypeError: 'tuple' object is not callable