<a href="https://colab.research.google.com/github/abbadad/3mtt-Week-2-Assignment/blob/main/3mtt_Week_4_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION**

Build a Python program utilising data structures, conditional statements and functions to sole data related task.

**TUPLES**

Just like list, Tuples are data structures used to store a collection of data. However, Tuples happens to be immutable because ones created with elements, it cannot be edited. Tuples use parenthesis instead of square brackets.

In [1]:
# Creating a Tuple
squares = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Changes can be made to squares
squares.insert(1, 5)

In [3]:
squares

[1, 5, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Tuples
squares_tp = (1, 5, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [8]:
# Tuples can be Edited
squares_tp [1] = 3

TypeError: 'tuple' object does not support item assignment

In [9]:
# Looping Through Tuples
for n in squares_tp:
  print(n)

1
5
4
9
16
25
36
49
64
81
100

In [10]:
# Overwrite Tuples
squares_tp = (2,3,4,5,6)

In [11]:
squares_tp

(2, 3, 4, 5, 6)

**IF STATEMENT**

In [22]:
# If statement
lst = ['String', True, 35]

In [26]:
for n in lst:
  if n == 35:
    print(n ** 2)
  else:
    print(n)

String
True
1225

In [28]:
# A simple if statement
age = 17
if age >= 18:
  print('You are qualified to vate')

In [32]:
# if - else
if age >= 18:
     print('You are qualified to vote')
else:
     print('Not qualified to vote')

Not qualified to vote

In [35]:
# if - elif - else
if age < 5:
     print('Cake is free')
elif age < 18:
     print("Cake is N100")
else:
     print("Cake is N200")

Cake is N100